.headertitle {
    margin: 0;
}

.headerh {
    margin: 5px 0 65px 0;
}

.margin {
    display: flex;
    flex-direction: column;
    margin: 0 220px;
    padding: 85px 0;
}

main {
    flex-grow: 1;
}

.subreddittitle {
    margin-top: 12px;
    font-size: 18px;
}

.subredditp {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 300;
}

.redmargin {
    margin-top: 45px;
    color: var(--red);
    text-decoration: underline var(--red);
    font-weight: 700;
    font-size: 12px;
}