@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --red: #dd3038;
    --orange: #e7613a;
    --light-orange: #FDF4F2;
    --black: #292929;
    --white: #FFFFFF;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}